# Maven
target/

# IntelliJ
.idea/
*.iml
out/

# VS Code
.vscode/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IntelliJ local files
/shelf/
/workspace.xml

# HTTP Client
/httpRequests/

# Datasources
/dataSources/
/dataSources.local.xml